$shadow-color: $secondary;
$box-shadow: 0 0 .75rem $shadow-color !default;
$box-shadow-1: 0 1px 6px 0 $secondary-10;
$box-shadow-2: 0 2px 9px 0 $secondary-10;
$box-shadow-4: 0 8px 16px $secondary-25;
