/* Bright Colors */
.text-grey-dark {
    color: $text-body;
}

.text-primary-light {
    color: $light;
}

.text-primary {
    color: $primary;
}

.text-primary-dark {
    color: $dark;
}

.text-grey-light {
    color: $disabled;
}

.text-tertiary {
    color: $tertiary;
}

.bg-white {
    background-color: $color-gray-200;
}

.bg-tertiary {
    background-color: $tertiary;
}

.bg-disabled {
    background-color: $disabled;
}

.bg-alt-light {
    background-color: $alt-light;
}

.bg-grey-extra-light {
    background: $extra-light;
}

// theme color scheme

// Primary Color
.bg-primary {
    background: $primary;
}
.bg-primary-75 {
    background: $primary-75;
}
.bg-primary-50 {
    background: $primary-50;
}
.bg-primary-25 {
    background: $primary-25;  
}
.bg-primary-10 {
    background: $primary-10;  
}
.bg-primary-5 {
    background: $primary-5;
}

// Secondary Color
.bg-secondary {
    background: $secondary;
}
.bg-secondary-75 {
    background: $secondary-75;
}
.bg-secondary-50 {
    background: $secondary-50;
}
.bg-secondary-25 {
    background: $secondary-25;  
}
.bg-secondary-10 {
    background: $secondary-10;  
}
.bg-secondary-5 {
    background: $secondary-5;
}

// Tertiary Color
.bg-tertiary {
    background: $tertiary;
}
.bg-tertiary-75 {
    background: $tertiary-75;
}
.bg-tertiary-50 {
    background: $tertiary-50;
}
.bg-tertiary-25 {
    background: $tertiary-25;  
}
.bg-tertiary-10 {
    background: $tertiary-10;  
}
.bg-tertiary-5 {
    background: $tertiary-5;
}

// Quaternary Color
.bg-quaternary {
    background: $quaternary;
}
.bg-quaternary-75 {
    background: $quaternary-75;
}
.bg-quaternary-50 {
    background: $quaternary-50;
}
.bg-quaternary-25 {
    background: $quaternary-25;  
}
.bg-quaternary-10 {
    background: $quaternary-10;  
}
.bg-quaternary-5 {
    background: $quaternary-5;
}

// Green Color
.bg-green {
    background: $green;
}
.bg-green-75 {
    background: $green-75;
}
.bg-green-50 {
    background: $green-50;
}
.bg-green-25 {
    background: $green-25;  
}
.bg-green-10 {
    background: $green-10;  
}
.bg-green-5 {
    background: $green-5;
}

// Red Color
.bg-red {
    background: $red;
}
.bg-red-75 {
    background: $red-75;
}
.bg-red-50 {
    background: $red-50;
}
.bg-red-25 {
    background: $red-25;  
}
.bg-red-10 {
    background: $red-10;  
}
.bg-red-5 {
    background: $red-5;
}

// Gray Color
.bg-gray-100 {
    background: $gray-100;
}
.bg-gray-200 {
    background: $gray-200;
}
.bg-gray-300 {
    background: $gray-300;
}
.bg-gray-400 {
    background: $gray-400;
}
