.font-primary {
    font-family: "Neue Haas Unica Pro", sans-serif;
}

.font-primary-bold {
    font-family: "Neue Haas Unica Pro Bold", sans-serif;
}

.font-secondary {
    font-family: "Brother 1816 Medium", sans-serif;
}

.font-sm {
    font-size: 0.8rem !important;
}

.font-md {
    font-size: 1.25rem !important;
}

.font-lg {
    font-size: 1.75rem !important;
}
